name: PHP Composer

on: workflow_dispatch

env: 
  ECR_REPO_NAME: ${{ secrets.ECR_REPO_NAME }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
    - name: test
      working-directory: test
      run: |
        pwd
        echo $ECR_REPO_NAME
